.addPlantContainer {
    position: relative;
    align-items: center;
  }
  
  .addPlantCard {
    position: relative; /* Ensure card is positioned relative */
    width: 600px;
    padding: 2px;
    
  }
  
  .addPlantImage {
    position: absolute;
    bottom: -120px;
    left: 45%; /* Adjust as needed to center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    z-index: -1;
    height: 800px;
    width: 800px;
  }