.editPlantContainer {
    position: relative;
    align-items: center;
    margin-top: 90px;
  }
  
  .editPlantCard {
    position: relative; /* Ensure card is positioned relative */
    width: 600px;
    padding: 2px;
    margin-top: 150px;
  }
  
  .editPlantImage {
    position: absolute;
    bottom: -120px;
    left: 45%; /* Adjust as needed to center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    z-index: -1;
    height: 800px;
    width: 800px;
    margin-top: 20px;
  }